*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 200px;
    display: block;
    margin: auto;
}

.header {
    margin: 1%;
}

.nav-left, .nav-right {
    background-color: lightcoral;
}

.nav-left ul,
.nav-right ul {
    list-style: none;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}

.nav-left a:hover {
    background: palegoldenrod;
}

.nav-right a:hover {
    background: palegoldenrod;
}

@media screen and (min-width:500px) {
    .header {
        width: 950px;
        margin: auto;
        display: flex;
        margin-top: 1%; 
        justify-content: space-between;
    }

    .nav-left ul {
        display: flex;
    }

    .nav-right ul {
        display: flex;
    }

    .nav-left, .nav-right {
        background: none;
    }
}

/* main */

.main {
    margin-top: 20px;
}

.main-left img {
    width: 250px;
    display: block;
    margin: auto;
}

.main-right {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 560px){
    .main {
        width: 960;
        margin: auto;
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    .main-left img {
        width: 300px;
        margin-left: 300px;
    }

    .main-right {
        margin: auto;
        text-align: left;
        margin-left: 5%;
    }

    .main-right h2 {
        margin-bottom: 2px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }
}

/* produk */

.display {
    margin-top: 5%;
    text-align: center;
    color: darkblue;
}

.image img {
    width: 200px;
    display: block;
    margin: auto;
}

.produk-content {
    text-align: center;
    margin: 50px;
}

.titel h2 {
    font-size: 22px;
}

.deskripsi p {
    font-size: 15px;
}

@media (min-width: 560px){
    .produk {
        width: 960px;
        margin: auto;
        display: flex;
    }
    .produk-content {
        height: 300px;
    }
    .image {
        height: 200px;
        width: 200px;
    }
    .image img {
        width: 200px;
        display: block;
        margin: auto;
    }
    .display {
        font-size: 25px;
    }
}






