div {
    width: 70%;
    margin: auto;
}

h1 {
    color: red;
    border: 1px solid brown;
    position: relative;
    top: 10px;
}

h2 {
    color: blue;
    border: 1px dashed blue;
}

p {
    border: 1px solid black;
    padding: 10px;
}

img {
    border: 1px solid green;
    margin: 0px ;
}